<!--
<h3>Debug Info:</h3>
<p>connection types: {{connectionTypeSelection}}</p>
<p>range: {{minRange}} - {{maxRange}}</p>
-->

<nav class="navbar navbar-default user-topics-navbar" role="navigation">
    <div class="collapse navbar-collapse">
        <form class="navbar-form clearfix" id="form-user-suggestions" role="search">
            <div class="form-group col-md-6">
                <label>Connection Type:</label><br/>
                <label class="checkbox-inline" ng-repeat="c in connectionTypes">
                    <input type="checkbox" value="c.key" ng-checked="connectionTypeSelection.indexOf(c.key) > -1" ng-click="toggleSelection(c.key)"/> {{c.value}}
                </label>
            </div>

            <div class="form-group col-md-4">
                <label for="range">Range:</label>
                <slider floor="0" ceiling="1" step="0.1" precision="1" ng-model-low="minRange" ng-model-high="maxRange"></slider>
            </div>

            <div class="form-group col-md-2">
                <button id="btn-search" type="submit" class="btn btn-primary" ng-click="updateResults()"><i class="fa fa-search"></i>Find Users</button>
            </div>
        </form>
    </div>
</nav>

<table class="table users-table" ng-hide="users.length == 0">
    <thead>
    <th></th>
    <th>ID</th>
    <th>Name</th>
    <th>Screen Name</th>
    <th>Language</th>
    <th>Favorites</th>
    <th>Friends</th>
    <th>Followers</th>
    <th>Status Count</th>
    <th>Listed Count</th>
    </thead>
    <tbody>
    <tr ng-repeat="u in users">
        <td><img src="{{u.profile_image_url}}" /></td>
        <td>{{u.id}}</td>
        <td>{{u.name}}</td>
        <td>{{u.screen_name}}</td>
        <td>{{u.language}}</td>
        <td>{{u.favorite_count}}</td>
        <td>{{u.friend_count}}</td>
        <td>{{u.follower_count}}</td>
        <td>{{u.status_count}}</td>
        <td>{{u.listed_count}}</td>
    </tr>
    </tbody>
</table>

<div class="pagination" data-ng-hide="users.length == 0">
    <ul class="pagination" data-ng-hide="users.length == 0">
        <li data-ng-class="{disabled: page == 1}" class="" data-ng-click="setPage(page - 1)"><a>&laquo;</a></li>
        <li data-ng-class="{active: page == p}" data-ng-repeat="p in pages" data-ng-click="setPage(p)"><a>{{p}}</a></li>
        <li data-ng-class="{disabled: page == totalPages}"><a data-ng-click="nextPage(page + 1)">&raquo;</a></li>
    </ul>
</div>

<div class="alert alert-info" ng-show="isWarning"><strong>We're sorry!</strong> {{warningMessage}}</div>