<!--
<h3>Debug Info:</h3>
<p>topics: {{topics}}</p>
<p>depth: {{depth}}</p>
-->

<nav class="navbar navbar-default user-topics-navbar" role="navigation">
    <div class="collapse navbar-collapse">
        <form class="navbar-form clearfix" id="form-user-topics" role="search">
            <div class="form-group col-md-4">
                <label for="topicInput">Topics:</label>
                <tags-input ng-model="topics" custom-class="bootstrap" placeholder="Add a topic" id="topicInput"></tags-input>
                <span class="help-block">Press Enter to add another topic</span>
            </div>
            <div class="form-group col-md-1">
                <label for="depthSelect">Depth:</label>
                <select class="form-control" id="depthSelect" ng-options="o as o for o in depthOptions" ng-model="depth"></select>
            </div>
            <div class="form-group col-md-2">
                <button id="btn-search" type="submit" class="btn btn-primary" ng-click="updateResults()"><i class="fa fa-search"></i>Find Users</button>
            </div>
        </form>
    </div>
</nav>

<table class="table users-table" ng-hide="users.length == 0">
    <thead>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>Screen Name</th>
        <th>Language</th>
        <th>Location</th>
        <th>Favorites</th>
        <th>Friends</th>
        <th>Followers</th>
        <th>Status Count</th>
        <th>Listed Count</th>
    </thead>
    <tbody>
        <tr ng-repeat="u in users">
            <td><img src="{{u.profile_image_url}}" /></td>
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.screen_name}}</td>
            <td>{{u.language}}</td>
            <td>{{u.location}}</td>
            <td>{{u.favorite_count}}</td>
            <td>{{u.friend_count}}</td>
            <td>{{u.follower_count}}</td>
            <td>{{u.status_count}}</td>
            <td>{{u.listed_count}}</td>
        </tr>
    </tbody>
</table>


<!--
<div ng-controller="PaginationImplCtrl" class="" ng-hide="users.length == 0">
    <pagination boundary-links="true" total-items="totalItems" page="currentPage" items-per-page="itemsPerPage" class="pagination-small" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
-->

<div ng-show="totalPages > 1">
    <pagination page="currentPage" num-pages="totalPages" max-size="5" class="" boundary-links="true" on-select-page="selectPage(page)"></pagination>
</div>



<div class="alert alert-info" ng-show="isWarning"><strong>We're sorry!</strong> {{warningMessage}}</div>