<p>selected: {{queryParams.connectionType}}</p>

<form class="" role="form">
    <div class="form-group">
        <label for="connectionTypeSelect">Connection Type:</label>
        <select class="form-control" id="connectionTypeSelect" ng-options="c.key as c.value for c in connectionTypes" ng-model="queryParams.connectionType"></select>
    </div>
    <div class="form-group">
        <label for="topicInput">Topic:</label>
        <input class="form-control" id="topicInput" />
    </div>
    <div class="form-group">
        <label for="depthSelect">Depth:</label>
        <select class="form-control" id="depthSelect" ng-options="" ng-model="queryParams.depth"></select>
    </div>
</form>

<table class="table table-bordered table-rounded table-striped">
    <thead>
        <th>ID</th>
        <th>Screen Name</th>
        <th>Profile Pic</th>
        <th>Location</th>
        <th>Followers</th>
        <th>Friends</th>
    </thead>
    <tbody>
        <tr ng-repeat="u in users">
            <td>{{u.id}}</td>
            <td>{{u.screen_name}}</td>
            <td>{{u.profile_image_url}}</td>
            <td>{{u.location}}</td>
            <td>{{u.followers_count}}</td>
            <td>{{u.friends_count}}</td>
        </tr>
    </tbody>
</table>